
{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>RIVER CAMPEON DE AMERICA 9/12/2018 | Gracias muñeco</h1>
            <p>
                Todo lo que yo viví<br>
                Todo lo que yo deje<br>
                Por seguirte a todas partes<br>
                Nadie lo puede entender<br><br>

                Porque vos sos la pasión<br>
                Que llevo en el corazón<br>
                Y por eso yo te aliento<br>
                De la cuna hasta el cajon<br><br>

                No me importa si ganas<br>
                No me importa si pedes<br>
                Ponga huevo millonario<br>
                Donde estes siempre estaré<br><br>

                Boca no chamuyes mas<br>
                La mentira se acabo<br>
                Vos tiraste gas pimienta<br>
                Porque sos puto y cagon<br><br>

                Borrachooooooooooo<br>
                Siempre voy descontrolado<br>
                Vamo' a ver al millonario<br>
                Vamo' a ver al tricampeón<br><br>

                Tu hinchada<br>
                La que copa en todas partes<br>
                Que cruzo los 7 mares<br>
                Es la que copo japon<br><br>
            </p>
        </div>
        <div class="col-4">
           <img src="assets/img/eternamenteGracias.jpeg" class="img-thumbnail">
        </div>
    </div>

{{> footer}}